html {
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
}

.container {
    display: flex;
    /* border:1px red solid; */
}

.main {
    flex-direction: column;
}

.buttons {
    /* border:1px red solid; */
    width: 150px;
    margin-left: auto;
    margin-right: 50px;
    margin-bottom: 20px;
}

.button-style {
    border-color: gray;
    color: gray;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 20px;
    letter-spacing: 1.2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#reset {
    text-align: center;
    padding: 20px;
    transition: .4s all linear;
}

#reset:hover {
    background-color: gray;
    color: white;
}

@media only screen and (max-width:768px) {
    .buttons {
        margin: 5px auto;
    }
}

/* _________________________________RULES_______________ */

#rules {
    border: 1px red solid;
    background-color: red;
    color: white;
    transition: .4s all linear;
    padding-right: 20px;
    padding-left: 20px;
}

#rules:hover {
    background-color: white;
    color: red;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

#x {
    color: red;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    /* left:70%; */
    margin-left: 240px;
    margin-top: 5px;
    margin-bottom: 40px;
    padding: 5px 10px;
    border: 1px red solid;
    transition: .4s all linear;
}

#x:hover {
    cursor: pointer;
    color: black;
    border: 1px black solid;
}

.rules-pop-up {
    border: 1px black solid;
    width: 300px;
    position: fixed;
    left: 70%;
    background-color: white;
    top: 70px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: none;
}

@media only screen and (max-width:768px) {
    .rules-pop-up {
        left: 20%;
    }
}

@media only screen and (max-width:480px) {
    .rules-pop-up {
        left: 10%;
    }
}

ul {
    list-style-type: none;
}

#rules-title {
    margin-top: 60px;
}

/* __________________________ */

h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
}

#game-title {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    letter-spacing: 5px;
    color: gray;
    font-size: 40px;
    border-bottom: 1px gray solid;
    padding-bottom: 15px;
    text-align: center;
    margin-top: -20px;
}

@media only screen and (max-width:768px) {
    #game-title {
        margin-top: 35px;
    }
}

#pick {
    margin-left: 5px;
    color: white;
    margin-bottom: 40px;
    letter-spacing: 3px;
    font-weight: lighter;
}

h3 {
    font-weight: lighter;
}

/* __________________FIGHTERS CARDS_______________ */

.name-style {
    font-weight: bold;
    /* overflow: 0ex; */
    color: black;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.fighters-all {
    /* border:1px black solid; */
    padding: 10px;
    padding-bottom: 50px;
    background-color: gray;
    text-align: center;
    margin-top: 20px;
}

.fighters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border:1px blue solid; */
}

@media only screen and (max-width:695px) {
    .fighters {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
}

.fighter-img {
    width: 120px;
    height: 100px;
    margin-top: 10px;
}

@media only screen and (max-width:727px) {
    .fighter-img {
        width: 100px;
        height: 100px;
        margin-top: -5px;
    }
}

.fighter-container {
    /* border: 1px green solid; */
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    width: 50%;
    background-color: white;
    width: 220px;
    height: 220px;
    padding-bottom: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    border: 1px gray solid;
}

@media only screen and  (max-width:727px) {
    .fighter-container {
        width: 150px;
        height: 200px;
        font-size: 11px;
    }
}

@media only screen and (max-width:695px) {
    .fighter-container {
        margin: 10px auto;
    }
}

.fighter-container:hover {
    cursor: pointer;
}

.health {
    /* font-weight: bold; */
    line-height: 1.4rem;
    color: white;
    letter-spacing: 1px;
    background-color: black;
    padding: 5px;
}

/* ____________________________FIGHT______________ */

.fight-area-all {
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 50px;
    flex-direction: row;
}

#attack {
    background-color: red;
    width: 120px;
    height: 70px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, .8);
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

@media only screen and (max-width:480px) {
    #attack {
        width: 80px;
        height: 40px;
        font-size:11px;
    }
}

#attack:hover {
    color: rgba(255, 255, 255, 1);
}

#attack:active {
    box-shadow: none;
    top: 2px;
}

.chosen-fighter,
.enemy {
    flex-direction: column;
}

.fight-section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


@media only screen and (max-width:695px) {
    .attack-info-all {
        margin-top: 900px;
    }
}

#attack-mobile{
    widows: 380px;
    margin:0 auto;
    display:none;
}

/* ______________________INFO__________________________________________ */

.info-pop-up {
    color: white;
    width: 80vw;
    height: 80vh;
    background-color: black;
    z-index: 1;
    position: fixed;
    margin-top: 40px;
    left: 10%;
    /* display:flex; */
    align-content: center;
    align-items: center;
    display: none;
    font-size: 28px;
    text-align: center;
}

.info-pop-up-text {
    margin-left: 40px;
}

.ultimate-win {
    width: 100vw;
    height: 100vh;
    background-color: black;
    /* display:flex; */
    display: none;
    position: fixed;
    color: white;
    z-index: 2;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* justify-items: center; */
}

.ultimate-win-text {
    font-size: 40px;
}

.resetWin {
    text-align: center;
    width: 100px;
    /* height: 50px; */
    /* border:1px red solid; */
    color: red;
    background-color: white;
    font-size: 15px;
    transition: .4s all linear;
    border-radius: 10px;
    margin-top: 20px;
    /* box-shadow:2px 2px 2px rgba(255,255,255,0.5) */
}

.resetWin:hover {
    background-color: red;
    color: white;
}

#resetLoose {
    display: none;
    margin-left: 40px;
    width: 70px;
    height: 40px;
    margin-bottom: 18px;
}

.attack-info-all {
    flex-direction: column;
    /* border:1px black solid; */
    padding: 20px;
    margin-top: 40px;
}

footer {
    background-color: gray;
    height: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.fa-github-square {
    color: white;
    font-size: 18px;
    margin: auto 10px;
}

#madeBy {
    margin: auto 10px;
}